
.main-content{
    margin-top: 10vh;
    min-height: 80vh;
    max-height: auto;
}
.filters{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4rem;
}
.restaurants{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}